#main{
float:left;
background-color:#052253;
height:40px;
width:600px;
}

#home
{ 

color:white;
border-width:2px;
padding-right:5px;
border-right-color:white;
border-right-style:solid;
border-bottom-color:#052253;
border-top-color:#052253;
border-left-color:#052253;
}


